body {
    background-color: #128aa7; 
}

.bg-img-1 {
    height: 146px;
    margin-top: 28px;
    background: linear-gradient(to bottom, #11cde1, #ffffff);
    border-top: 1px solid #5ef0ff;
}

.bg-img-2 {    
    height: 800px;
    width: 100%;
    background: linear-gradient(to bottom, #41c6d3 5%, #1495b3 30%, #128aa7 80%)
}


.container {
    position: absolute;
    top: 0%;
    left: 50%;
    margin-left: -500px;
    width: 1000px;
    background: #128aa7;
}

.layer-1 {
    position: relative;
    min-height: 988px;
    height: auto; 
    overflow: hidden;
    background-color: #FFF;
    -webkit-box-shadow: -0px 0px 10px 2px rgba(0,0,0,0.32);
    -moz-box-shadow: -0px 0px 10px 2px rgba(0,0,0,0.32);
    box-shadow: -0px 0px 10px 2px rgba(0,0,0,0.32);
}
 
.futer {
    text-align: center;
    font: 11pt Tahoma;
    color: white;
    line-height: 34px;
    
}

/*HEADER*/

.header {
    position: relative;
    height: 175px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #128aa7;
}

.logo {
    
    margin: 11px 0px 0px 28px;
}

.head-img {
    display: block;
    border-bottom: 1px solid #128aa7;
}


.conakt-head {
    float: right;
    margin: 11px 33px;
    font: 11pt Tahoma;
    color: #128aa7;
}

.cuntry-menu {
    position: absolute;
    right: 33px;
    bottom: 9px;
    margin: 0px 0px 0px 0px;
}

.cuntry-menu li {
    float: left;
    margin: 0px 2px;
    text-align: center;
}

.cuntry-menu li img {
    margin: -5px 8px;
}

.cuntry-menu li p {
    margin-top: 3px;    
    font: 9pt Tahoma;
    color: #128aa7;
}

.cuntry-menu li a {
    text-decoration: underline;
    font: 9pt Tahoma;
    color: #128aa7;
}

.cuntry-menu li a:hover {
    text-decoration: none;
    font: 9pt Tahoma;
    color: #128aa7;
}

/*MENU*/

.nav {
    position: relative;
    width: 100%;
    height: 28px;
    margin-top: 1px;
    background-color: #363636;
    border-bottom: 1px solid black;
    -webkit-box-shadow: 0px 4px 3px -2px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 4px 3px -2px rgba(0,0,0,0.32);
    box-shadow:  0px 3px 3px 0px rgba(0,0,0,0.32);
}

.menu-hidden {
    position: absolute;
    z-index: 1;
    top: 0px;
    padding-top: 29px;
    display: none;
}

.menu-hidden li {
    display: block;
    height: 28px;
    width: 142.8px;
    background-color: #363636;
}

.menu-hidden li span {
    
    font: 12pt Tahoma;
    color: white;
}

.menu li:hover .menu-hidden {
    display: block;
}

.menu li {
    position: relative;
    float: left;
    height: 28px;
    width: 142.8px;
    text-align: center;
}

.menu li a {
    text-decoration: none;
}

.menu-text {
    display: block;
    margin-top: 1px;
    font: 13pt Tahoma;
    color: white;
}

.menu-text-sh {
    display: block;
    margin-top: 3px;
    font: 13pt Tahoma;
    color: white;
}

/*CONTENT*/

.box-1 { 
    width: 100%;
    min-height: 544px;
    height: auto;
    float: left;
    position: relative;
    right: 58%;
    background-color: #edeef0;
    border-right: 1px solid #c7cacf;
}

.box-2 {
    width: 100%;
    background: #fff;
    float: left;
    position: relative;
    right: 21%;
    border-right: 1px solid #c7cacf;
}

.box-3 {
    width: 100%;
    float: left;
    position: relative;
    background-color: #edeef0;
}

.sidebar {
    width: 21%;
    float: left;
    overflow: hidden;
    position: relative;
    top: 10px;
    left:79%;
    text-align: center;
}

.sidebar span {
    font: 17pt Tahoma;
    color: #424c43;
}

.sidebar ul {
    margin-top: 8px;
    margin-bottom: 16px;
}

.sidebar ul li {
    margin-top: 6px;
    font: 11pt Tahoma;
    color: #424c43;
}
.content {
    width: 58%;
    float: left;
    overflow: hidden;
    position:relative;
    left:79%;    
}

.text {
    padding: 16px;
    text-align: justify
}

.news {
    width: 21%;
    float: left;
    overflow: hidden;
    position: relative;
    top: 10px;
    left:79%;
    text-align: center;
}

.news span {
    font: 17pt Tahoma;
    color: #424c43;
}

.news ul {
    margin-top: 8px;
    margin-bottom: 16px;
}

.news ul li {
    margin-top: 6px;
    font: 11pt Tahoma;
    color: #424c43;
}


